<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> 채팅 어플리케이션 예제 </title>
</head>
<body>
<h1> 채팅방 입장 </h1>
<p id="msg"></p>
<form id="loginForm" action="/loginProc" method="post">
    <div>
        <input id="username" type="text" name="username" placeholder="대화명" style="width: 150px"/>
    </div>
    <div>
        <input id="password" type="password" name="password" placeholder="비밀번호" style="width: 150px"/>
    </div>
    <input type="submit" value="대화방 입장"/>
</form>
<button id="join"> 대화명 등록 </button>
<script src="js/loginPage.js"></script>
</body>
</html>