<!DOCTYPE html>
<html>
<head>
    <title> 채팅 어플리케이션 예제 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/lounge.css">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <div id="chatroom_data" class="chatroom_data">
                <div class="chatroom_frame" id="chatroom-frame">
                    <div class="chatroom_name">
                        <span> 대화방 리스트 </span>
                        <div class="chatroom_header">
                            <div class="header_title">제목</div>
                            <div class="header_date">마지막 대화시</div>
                            <div class="header_participates">참여인원</div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <button id="create-chatroom"> 대화방 생성 </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script src="/js/lounge.js"></script>
</body>
</html>